 h1 {
     color: red;
     font-family: impact;
 }

 h2 {
     font-family: arial;
 }

 /* Стиль списка */
 ul.breadcrumb {
     padding: 16px;
 }

 /* Добавить символ (/) */
 ul.breadcrumb li:before {
     color: black;
     content: "/";
 }

 /* Отображение элементов списка в линию */
 ul.breadcrumb li {
     display: inline;
     font-size: 18px;
 }

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* Стиль списка */
ul.breadcrumb {
    padding: 16px;
}

/* Добавить символ (/) */
ul.breadcrumb li:before {
    color: black;
    content: '/ ';
}

/* Отображение элементов списка в линию */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.main {
    width: 100%;
    margin: 30px;
    overflow: auto;
}

.tovar {
    width: 17%;
    height: 250px;
    border: 1px solid;
    margin: 20px;
    float: left;
}

.tovar p {
    color: blue;
    padding: 10px;
    text-align: center
}

/* Стиль списка */
ul.breadcrumb {
    padding: 16px;
}

/* Добавить символ (/) */
ul.breadcrumb li:before {
    color: black;
    content: '/ ';
}

/* Отображение элементов списка в линию */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}