<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Сайт проекта</title>
    <style>
      h1 {
        color: black;
        font-family: impact;
      }
      h2 {
        font-family: arial;
      }
    </style>
  </head>
  <body>
    <h1>"Приветствую!"</h1>
    Меня зовут: {{ name }}<br>
    Мой емайл: {{ email }}
    <p>Это главная страница сайта.</p>
    <a href=" " target="_blank">
        Home</a>
    <a href="/items" target="_blank">
        Items</a>
    <a href="/about" target="_blank">
        About</a>
    <p><i>Сайт пока в разработке...</i></p>
  </body>
</html>