{% extends 'base.html' %}

{% block style %}
{% endblock  %}

{% block content %}
    {% include "include_head.html" %}
      {% for data in item %}
        <li> {{ data.name }} </li>
      {% endfor %}
    </ul>
    {% if item %}
      {% for data in item %}
        {% if data.count == 0 %}
          <i>Товара нет на складе</i><br />
        {% else %}
          <i>Товар:</i> {{ data.name }} <br />
          <i>Брэнд:</i> {{ data.brand }}<br />
          <i>Количество товара на складе:</i> {{ data.count }}<br />
        {% endif %}
      {% endfor %}
    {% else %}
      <b>Товар с id:{{ item_id }} не найден</b><br />
    {% endif %}
    <a href="{% url 'items' %} ">Назад к списку товаров</a>
{% endblock  %}