{% extends 'base.html' %}

{% block style %}
{% endblock style %}

{% block content %}
    {% include "include_head.html" %}
    <li>Товары</li>
    <div class="main">
      <h2>Товары</h2>
      {% for el in items_dic %}
        <div class="tovar">
          <p>
            <b>id товара:</b> <a href="{% url 'item_detail' el.id %} ">{{ el.id }}</a><br>
            <b>товар:</b> {{ el.name }}<br>
            <b>бренд:</b> {{ el.brand }}<br>
            <b>кол-во:</b> {{ el.count }}<br>
            <b>Описание товара:</b> {{ el.description }}
          </p>
        </div>
      {% endfor %}
{% endblock  %}