<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if item != False %}
        <i>Товар</i> <b>{{ name }}</b><br>
        {% if quantity != 0 %}
            <i>Колличество товара: {{ quantity }}</i><br>
            <a href="/items"><i>Назад к списку товаров</i></a>
        {% else %}
            <p><b>Товара нет в наличии!<b></p>
        {% endif %}
    {% else %}
        <b>Товар с id={{ id }} не найден</b>
    {% endif %}
</body>

</html>